body {
  margin: 0px;
  padding: 0px;
  background-color: #1A1A1A;
  color: #e01e69;
}

/* Conent */
.content {
  display: flex;
  flex-flow: row wrap;
}

/* Header */
.content header {
  order: 1;
  flex: 0 1 30%;
  display: flex;
  height: 100px;
  padding: 25px 0px;
  background-color: #242424;
}

.content header .logoArea {
  order: 1;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.content header img {
  order: 1;
  margin: 10px;
}

.content header h1 {
  order: 2;
  font-size: 35px;
}

/* Navigation bar */
.content nav {
  order: 2;
  flex: 0 0 70%;
  align-self: flex-end;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 25px 0px;
  background-color: #242424;
  overflow: hidden;
}

.content nav ul {
  order: 1;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.content nav ul li {
  margin: 100% 0px;
  padding: 100% 0px;
  font-family: "Droid";
  cursor: pointer;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.content nav ul li:hover a {
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
  background-color: #323232;

  -webkit-transition: padding 200ms;
  -moz-transition: padding 200ms;
  -o-transition: padding 200ms;
  transition: padding 200ms;
  padding: 100% 20px 100% 20px; /* Left and right padding stay the same */
}

.content nav ul a {
  margin: 0px;
  padding: 0px 20px; /* Bottom padding should be height of nav bar */
  font-size: 25px;
  color: #e01e69;
  text-decoration: none;
  text-align: center;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

/* Main content */
.content main {
  order: 3;
  flex: 0 1 100%;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
}

.content main .videos {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style-type: none;
}

.content main .videos .video {
  flex: 0; /* Prevents thumbnails from streching */
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: #1F1F1F;

  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}

.content main .videos .video:hover {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
  background-color: #323232;
}

.content main .videos .video .link {
  font-size: 20px;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

.content main .videos .video .link .title {
  margin: 5px;
  padding: 0px;
  width: 250px; /* Same as image width */
  word-wrap: break-word;
}

.content main .videos .video .thumbnail {
  margin: 0px;
  padding: 0px;
  width: 250px; /* Same as title width */
  height: 150px;
}

/* Footer */
.content footer {
  order: 4;
  height: 100px;
  flex: 0 1 100%;
  z-index: 100;
}
