/* Include fonts here */
@font-face {
    font-family: overpass-light;
    src: url("../fonts/overpass-light.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: overpass-light;
    background-color: #1A1A1A;
}

/* Nav bar */
#navbar {
    color: #AD1457;
    background-color: #212121;
    line-height: 10px;

    box-shadow: 0 3px 5px #131313;
}

#header {
    padding: 25px 0;
    float: left;
    background-color: #AD1457;
    width: 40%;
}

#header:after { /* Needed because of the border hover effects. Height here must match height of "nav-links li:after"  */
	content: '';
	display: block;
	height: 5px;
}

#header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

#nav-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    overflow: hidden;
}

#nav-links li {
    float: left;
}

#nav-links li:after {
	content: '';
	display: block;
	margin: auto; /* Needed to make border slide middle out */
	height: 5px;
	width: 0px;
	background: transparent;
	
	transition: 250ms ease;
	-webkit-transition: 250ms ease;
	-moz-transition: 250ms ease;
	-o-transition: 250ms ease;
}

#nav-links li:hover:after {
	width: 100%;
	background-color: #AD1457;
}

#nav-links a {
    padding: 25px;
    display: block;
    color: #AD1457;
    text-decoration: none;
    /*border-bottom: 5px solid #212121;*/

    transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
}

#nav-links a.right {
    float: right;
}
