//Compile this file. This comment must be here
//Import
@import "mixins";

//Variables
//Header
$headerHeight: 120px;
$headerWidth: 30%;
$headerBGColor: #ad1457;

$nbWidth: 70%;
$nbFontSize: 24px;
$nbBGColor: #242424;
//$nbActiveBGColor: #DF2475;

body {
  color: white;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Header */
header {
  &#mainHeader {
    position: fixed;
    width: 100%;
    min-width: 900px;
    height: $headerHeight;
    box-shadow: 0px 2px 20px #000000;
    top: 0; //Important for fixed header!

    #logoArea {
      position: fixed;
      width: $headerWidth;
      margin: 0px;
      padding: 0px;
      height: 120px;
      background-color: $headerBGColor;

      h1 {
        margin: 0px;
        padding: 44px 0px;
        text-align: center;
        font-size: 32px;
      }
    }

    nav {
      width: $nbWidth;
      margin: 0px;
      padding: 0px;
      height: $headerHeight;
      background-color: $nbBGColor;
      float: right;


      ul {
        list-style-type: none;
        padding: 0px;
        //margin: 0px;

        li {
          font-family: "Droid";
          font-size: $nbFontSize;
          margin-right: 25px;
          padding: 0px;
          float: left;

          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 5px 15px;
            color: white;
            text-decoration: none;

            @include transition(all, 500ms);

            &:hover {
              @include transition(background-color, 500ms);
              background-color: #ad1457;

              @include transition(padding-bottom, 200ms);
              padding-bottom: ($headerHeight * 0.6);
            }

            /*
            &:active {
              background-color: $nbActiveBGColor;
              @include transition(background-color, $nbActiveBGColor, 200ms);
            }
            */
          }
        }
      }
    }
  }
}

/* Content */
#contentArea {
  margin: ($headerHeight + 10px) auto 40px auto;
  padding: 0px;
  width: 800px;
  color: black;
}
