{% extends 'base.html' %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload_style.css') }}">
{% endblock %}

{% block main_content %}
    <h1 style="text-align: center">Upload Video</h1>

    <form id="upload-video-form">
        <label class="file-upload">
            Upload a file<br />
            <input type="file" name="video-file" accept="video/*" />
        </label><br />
        <label class="top-margin" for="video-title">Title: </label>
        <input type="text" name="video-title" /><br />
        <label class="top-margin" for="video-desc">Description: </label>
        <textarea name="video-desc" rows="5"></textarea><br />
        <input type="submit" name="video-upload" value="Upload" />
    </form>
{% endblock %}
