<!-- Header -->
<header>
  <div id="logoArea">
    <h1>Project Tentacles</h1>
  </div>

  <nav>
    <ul>
      <li id="home"><a href="/website/index.html">Home</a></li>
      <li id="videos"><a href="/website/pages/videos/videos.html">Videos</a></li>
      <li id="pictures"><a href="/website/pages/pictures/pictures.html">Pictures</a></li>
      <li id="upload"><a href="/website/pages/upload/upload.php">Upload</a></li>
      <li id="about"><a href="/website/pages/about/about.html">About</a></li>
    </ul>
  </nav>
</header>
