<!DOCTYPE html>
<html>
    <head>
        <title>Project Tentacles</title>
        <link rel="stylesheet" href="../static/search_style.css">
    </head>

    <body>
        <div id="navbar">
            <div id="header">
                <h1>Project Tentacles</h1>
            </div>

            <div id="nav-links">
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>

        <div id="content">
          <div class="Flex-Box">
            <div class="item">

            </div>
          </div>
        </div>

        <div id="footer">
            <!-- Footer stuff will go here -->
        </div>
    </body>
</html>
